/.vs
/NewNoteSPRemotePurchaseTerminalIntegration/bin
/NewNoteSPRemotePurchaseTerminalIntegration/obj
/NewNoteSPRemotePurchaseTerminalIntegration/.vs
/NewNoteSPRemotePurchaseTerminalIntegration.Lib/bin
/NewNoteSPRemotePurchaseTerminalIntegration.Lib/obj
/NewNoteSPRemotePurchaseTerminalIntegration.Console/bin
/NewNoteSPRemotePurchaseTerminalIntegration.Console/obj
/NewNoteSPRemotePurchaseTerminalIntegration.Console/.vs
/NewNoteSPRemotePurchaseTerminalIntegration.Lib
/PetrotecRemotePurchaseTerminalIntegration.Console/bin
/PetrotecRemotePurchaseTerminalIntegration.Console/obj
/PetrotecRemotePurchaseTerminalIntegration.Lib/bin
/PetrotecRemotePurchaseTerminalIntegration.Lib/obj
